@import url('slick-carousel/slick/slick.css');
@import url('slick-carousel/slick/slick-theme.css');
@import 'tailwindcss';

:root {
  --primary: #d7d7d7;
  --secondary: #8f93a2;
  --bg: #0a0a0a;

  --grotesk: 'Space Grotesk', sans-serif;
  --aitt: 'Atkinson_Hyperlegible', sans-serif;
}

* {
  color: var(--primary);
}

body {
  background-color: var(--bg);
  font-family: var(--aitt);
  font-size: 100%;
  font-weight: 400;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3 {
  font-family: var(--grotesk);
  line-height: 1.2;
}

p {
  color: var(--secondary);
}

button:hover,
a:hover {
  color: var(--secondary);
}

.hover-none:hover {
  color: var(--primary);
}

/* Customize slick arrows */
.slick-prev,
.slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
  background: var(--bg); /* Tailwind gray-800 */
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
  background: var(--bg); /* Tailwind gray-700 */
}

.slick-prev slick-disabled,
.slick-next slick-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slick-prev:before,
.slick-next:before {
  display: none; /* Hide default arrows */
}
